!!! 5
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Miniblog
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag "application"
    = yield :header_tags

  %body{ class: "#{controller_name}_controller--#{action_name}"}
    = render "shared/header"

    .px-3
      .content
        = yield
